doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title JavaScript Is Going Places

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    link(rel='stylesheet', type='text/css', href='styles/custom.css')
    // endbuild

  body
    article
      section
        h1 JavaScript Is Going Places

      section
        div(class='language')
          h2 Modern language
        div(id='target')
          h2 Compilation Target
        div(id='ecosystem')
          h2 Expanding Ecosystem

      section
        h2 ES6

      section
        h2(class='code-aligned') Powerful syntax
        ul
          li(class='codeAndLabel')
            label Destructuring
            pre
              code.language-javascript.
                var [a, b] = [b, a];
                var [x, y] = { x: 1, y: 2, other: 3 };

          li(class='codeAndLabel')
            label Function shorthand
            pre
              code.language-javascript.
                myFavFunction((x, y) => x * y);

          li(class='codeAndLabel')
            label Default Arguments
            pre
              code.language-javascript.
                function (x = "default value") { }

          li(class='codeAndLabel')
            label Varargs
            pre
              code.language-javascript.
                function (a, b, ...others) { }

      section
        h2(class='code-aligned') Structure
        ul
          li(class='codeAndLabel')
            label Modules
            pre
              code.language-javascript.
                module "myCoffeeMachine" {
                  import $ from "jquery"

                  export function () { ... }
                }

          li(class='codeAndLabel')
            label Classes
            pre
              code.language-javascript.
                class MyClass extends SuperClass {
                  constructor(a, b, c) { ... }
                  excitingMethod(x) { ...  }
                }

      section
        h2(class='code-aligned') Iterables
        ul
          li(class='codeAndLabel')
            label For-of
            pre
              code.language-javascript.
                for (let x of [1, 2, 3]) { ... }

          li(class='codeAndLabel')
            label Generators
            pre
              code.language-javascript.
                function* numbers(x = 0) {
                  while (true) { yield x++; }
                }

          li(class='codeAndLabel')
            label List & generator comprehensions
            pre
              code.language-javascript.
                evenNumbers = (x for (x of numbers)
                                 if x % 2 == 0)
          li(class='codeAndLabel')
            label Set & map implementations
            pre
              code.language-javascript.
                var uniqueValues = new Set([1, 2, 2, 3])

      section
        h2 Loads of other cool things
        ul
          li Efficient binary data types and literals
          li Tail call optimisation
          li Structs
          li Constants
          li Weak maps
          li Function proxies
          li Multiline strings
          li String templating

      section
        h2 Compilation Target

      section
        ul
          li CoffeeScript
          li TypeScript
          li ClojureScript

      section
        h2 ASM.js

      section
        h2 Ecosystem

      section
        h2 Node.JS

      section
        h2 Hardware APIs

      section
        h2 NodeCopter

      section
        h2 NodeCopter, Fly!

      section
        h2 NodeCopter, Spin!

      section
        h2 NodeCopter, See!

      section
        h2(id='manyJavaScripts')
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript

      section
        code
        code
        code

      section
        h2 Thanks!


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild