doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title JavaScript Is Going Places

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    article
      section
        h1 JavaScript Is Going Places

      section
        div(class='language')
          h2 Modern language
        div(id='target')
          h2 Compilation Target
        div(id='ecosystem')
          h2 Expanding Ecosystem

      section
        h2 ES6

      section
        h2 Powerful syntax
        ol
          li Destructuring
          li Function shorthand
          li Default arguments
          li Varargs

      section
        h2 Structure
        ol
          li Modules
          li Classes

      section
        h2 Iterables
        ol
          li For-Of
          li Array comprehensions
          li Sets & Maps
          li Generators

      section
        h2 All sorts of other cool things
        ol
          li Const
          li Let
          li WeakMaps
          li Function proxies
          li String templating

      section
        h2 Compilation Target

      section
        ol
          li CoffeeScript
          li TypeScript
          li ClojureScript

      section
        h2 ASM.js

      section
        h2 Ecosystem

      section
        h2 Node.JS

      section
        h2 Hardware APIs

      section
        h2 NodeCopter

      section
        h2 NodeCopter, Fly!

      section
        h2 NodeCopter, Spin!

      section
        h2 NodeCopter, See!

      section
        h2(id='manyJavaScripts')
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript
          | JavaScript

      section
        h2 Thanks!


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild